In [15]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [16]:
full_labels = pd.read_csv('data/cell_labels.csv')

In [17]:
full_labels.head()

         filename  width  height   class  xmin  ymin  xmax  ymax
0  2-49#-0864.jpg   1200    1632  cell_0  1047   781  1200   930
1  2-49#-0870.jpg   1200    1632  cell_0   787   669   943   825
2  2-49#-0694.jpg   1200    1632  cell_1   238   723   419   862
3  2-49#-1005.jpg   1200    1632  cell_0   913   743  1078   895
4  3-50#-1571.jpg   1200    1632  cell_0  1020   762  1180   918

In [18]:
grouped = full_labels.groupby('filename')

In [19]:
grouped.apply(lambda x: len(x)).value_counts()

1    429
dtype: int64

### split each file into a group in a list

In [20]:
gb = full_labels.groupby('filename')

In [21]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [22]:
len(grouped_list)

429

In [34]:
train_index = np.random.choice(len(grouped_list), size=343, replace=False)
test_index = np.setdiff1d(list(range(len(grouped_list))), train_index)

In [35]:
print(test_index)
print(train_index)

[  1   2   7  10  14  16  17  44  45  52  55  56  59  62  68  74  78  83
  87  88  90  92  97 103 109 110 117 130 132 135 142 143 146 148 159 170
 179 187 189 192 198 203 211 213 215 216 227 238 239 242 251 261 274 276
 284 286 294 298 308 311 315 321 325 331 332 335 343 346 350 352 353 354
 355 363 365 371 380 381 394 399 406 409 410 411 420 423]
[393 246  89 154 136 344 260 391 282  70 235 220  26 193  77 296 313  36
 243 245 184 367 165 223  98 123 133 280 194 256 164 375 175 366 180 304
 210  47 275 114 334 351 339 273 108 379 319 229  41 378 390 134   4 360
 376 122 312 402  67  48 267 190 241 348 398 362 222 166 120 317 329 177
 327 333  75 415 196  23 374 240 244 287 408 155   9  69 428 254 126 127
 111 249  91 412 106 295 310 405 137 173 301  82 209  53 149  11 248 144
 427 167 401  86 202 225  27 107 116 322  95  65 147 118  60 403 226 253
 285 186 326 291 372   8 141 330 419 224  12 158  71 252  50 338  13 125
 422 386 191 278 369  93  43 302 212  28 218  46  85  32   3 268 185 201
 292 140 161 359 247 361 271 324  33 392 197 424 309 168 199  76 183 305
 303 156 176   0  24   6 400 182 105 206 115  63 219 231 237 230 205  30
 314 272 277 257 425 151 345 328  20  37 320 145 153 397 318 407  18 121
 356 162  66 418  15  79 389 258 113 385  39 281 200  35 377  80 178  73
  84 101 382 347 264 342  42  54 262 102 364  29  72 293 181 157 214 232
 100 233 337 349 283 221 279 384 368 396 373  40  64  58  99 255 357 290
 297 131 340 370 119 150  34 323  25 336 169 421 383 269 387 270 250 417
  57 163 217 413 414 208 288 104 236 174 404  22 204 188 234 129 395  21
 316 172  19  81 195  51 259 416 207 426  61 138 124 358  49  94 266 388
 299 152  96 112 263 171 300 139  38 341 265 128 289   5 307 306 160  31
 228]

In [36]:
len(train_index), len(test_index)

(343, 86)

In [37]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [38]:
len(train), len(test)

(343, 86)

In [39]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)